<ion-header>
  <ion-toolbar>
    <ion-title>Plant Identification</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card class="photo-card">
    <ion-card-header>
      <ion-card-title>{{ titleLatin }}</ion-card-title>
      <ion-card-subtitle>{{ titleEn }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-img class="image-result"
               [src]="capturedPhoto"
               alt="Captured Photo"></ion-img>
      <p class="info-text ion-text-color-step-100">{{ description }}</p>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full"
              color="secondary"
              (click)="onReset()">
    <ion-icon slot="start"
              name="refresh"></ion-icon> Take Another Photo </ion-button>
</ion-content>
