<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Monti
    </ion-title>
    <ion-buttons slot="end">
      <ion-badge color="primary">{{ poiCount$ | async }}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab class="location-btn">
    <ion-fab-button (click)="setCurrentLocation()">
      <ion-icon name="locate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div id="map" style="height:100%;"></div>

  @if (mapProcessing) {
    <div class="loading-overlay">
      <ion-text>Monti is loading... Please wait</ion-text>
    </div>
  }
</ion-content>
