<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tab 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
  
  <!-- Button to capture and upload photo -->
  <ion-button (click)="captureAndUploadPhoto()">Take Photo</ion-button>
  
  <!-- Display captured photo -->
  <div *ngIf="capturedPhoto">
    <img [src]="capturedPhoto" alt="Captured Photo" style="width: 100%; max-width: 300px;"/>
  </div>

  <!-- Display the response message -->
  <div *ngIf="uploadResponse">
    <p>{{ uploadResponse }}</p>
  </div>
</ion-content>
